
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Webster - Responsive Multi-purpose HTML5 Template" />
  <meta name="author" content="potenzaglobalsolutions.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Webster - Responsive Multi-purpose HTML5 Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" />

  <!-- font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800">

  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="css/plugins-css.css" />

  <!-- revoluation -->
  <link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />

  <!-- Typography -->
  <link rel="stylesheet" type="text/css" href="css/typography.css" />

  <!-- Shortcodes -->
  <link rel="stylesheet" type="text/css" href="css/shortcodes/shortcodes.css" />

  <!-- Style -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <!-- Responsive -->
  <link rel="stylesheet" type="text/css" href="css/responsive.css" />

</head>

<body>

  <div class="wrapper">

    <!--=================================
 preloader -->

    <div id="pre-loader">
      <img src="images/pre-loader/loader-01.svg" alt="">
    </div>

    <!--=================================
 preloader -->

    <!--=================================
 header -->

    <header id="header" class="header transparent fullWidth">
      <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
          <!-- menu list items container -->
          <section class="menu-list-items">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <!-- menu logo -->
                  <ul class="menu-logo">
                    <li>
                      <a href="index-01.html"><img id="logo_img" src="images/logo.png" alt="logo"> </a>
                    </li>
                  </ul>
                  <!-- menu links -->
                  <div class="menu-bar">
                    <ul class="menu-links">
                      <li><a href="javascript:void(0)">Women <i class="fa fa-angle-down fa-indicator"></i></a>
                        <!-- drop down full width -->
                        <div class="drop-down grid-col-12">
                          <!--grid row-->
                          <div class="grid-row">
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <ul>
                                <li><strong> Foot Ware</strong>
                                </li>
                                <li><a href="index-02.html">Flat</a></li>
                                <li><a href="index-02.html">Sandals</a></li>
                                <li><a href="index-02.html">Snekers</a></li>
                                <li><a href="index-02.html">Boots
                                    <span class="badge badge-primary">New</span></a></li>
                                <li><a href="index-02.html">Slip ons</a></li>



                              </ul>
                            </div>
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <ul>
                                <li>Jacket </li>
                                <li><a href="index-portfolio-02.html">Biker Jacket</a></li>
                                <li><a href="index-portfolio-01.html">Field Jacke
                                    <span class="badge badge-primary">New</span>
                                  </a></li>
                                <li><a href="one-page-portfolio-parallax.html">Bomber Jacket</a></li>
                                <li><a href="index-portfolio-03.html">Racer Jacket
                                    <span class="badge badge-primary">New</span>
                                  </a></li>
                                <li><a href="index-portfolio-04.html">Flight Jacket
                                    <span class="badge badge-primary">New</span>
                                  </a></li>

                              </ul>
                            </div>
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <ul>
                                <li>Uniform</li>
                                <li><a href="index-band.html">Work uniforms </a></li>
                                <li><a href="index-cafe.html">Coorporate uniform </a></li>
                                <li><a href="index-conference.html">Cheif uniform </a></li>
                                <li><a href="index-blog.html">Lab coats </a></li>
                                <li><a href="index-blog-02.html">Butcher
                                    <span class="badge badge-primary">New</span>
                                  </a></li>

                              </ul>
                            </div>
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <img src="./images/objects/bag.jpg" />

                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="javascript:void(0)"> Men <i class="fa fa-angle-down fa-indicator"></i></a>
                        <!-- drop down full width -->
                        <div class="drop-down grid-col-12">
                          <!--grid row-->
                          <div class="grid-row">
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <ul>
                                <li><strong> Foot Ware</strong>
                                </li>
                                <li><a href="index-02.html">Flat</a></li>
                                <li><a href="index-02.html">Sandals</a></li>
                                <li><a href="index-02.html">Snekers</a></li>
                                <li><a href="index-02.html">Boots
                                    <span class="badge badge-primary">New</span></a></li>
                                <li><a href="index-02.html">Slip ons</a></li>



                              </ul>
                            </div>
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <ul>
                                <li>Jacket </li>
                                <li><a href="index-portfolio-02.html">Biker Jacket</a></li>
                                <li><a href="index-portfolio-01.html">Field Jacke
                                    <span class="badge badge-primary">New</span>
                                  </a></li>
                                <li><a href="one-page-portfolio-parallax.html">Bomber Jacket</a></li>
                                <li><a href="index-portfolio-03.html">Racer Jacket
                                    <span class="badge badge-primary">New</span>
                                  </a></li>
                                <li><a href="index-portfolio-04.html">Flight Jacket
                                    <span class="badge badge-primary">New</span>
                                  </a></li>

                              </ul>
                            </div>
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <ul>
                                <li>Uniform</li>
                                <li><a href="index-band.html">Work uniforms </a></li>
                                <li><a href="index-cafe.html">Coorporate uniform </a></li>
                                <li><a href="index-conference.html">Cheif uniform </a></li>
                                <li><a href="index-blog.html">Lab coats </a></li>
                                <li><a href="index-blog-02.html">Butcher
                                    <span class="badge badge-primary">New</span>
                                  </a></li>

                              </ul>
                            </div>
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <img src="./images/objects/shoes.jpg" />

                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="javascript:void(0)">Matertials <i class="fa fa-angle-down fa-indicator"></i></a>
                        <!-- drop down full width -->
                        <div class="drop-down grid-col-12">
                          <!--grid row-->
                          <div class="grid-row">
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <ul>
                                <li>Matertial 1</li>
                                <li><a href="about-01.html">sub catagory 1</a></li>
                                <li><a href="about-01.html">sub catagory 3</a></li>
                                <li><a href="about-01.html">sub catagory 4</a></li>
                                <li><a href="about-01.html">sub catagory 5</a></li>
                                <li><a href="about-01.html">sub catagory 6</a></li>

                              </ul>
                            </div>
                            <div class="grid-col-3">
                              <ul>
                                <li>Matertial 2</li>
                                <li><a href="about-01.html">sub catagory 1</a></li>
                                <li><a href="about-01.html">sub catagory 3</a></li>
                                <li><a href="about-01.html">sub catagory 4</a></li>
                                <li><a href="about-01.html">sub catagory 5</a></li>
                                <li><a href="about-01.html">sub catagory 6</a></li>

                              </ul>
                            </div>
                            <div class="grid-col-3">
                              <ul>
                                <li>Matertial 3</li>
                                <li><a href="about-01.html">sub catagory 1</a></li>
                                <li><a href="about-01.html">sub catagory 3</a></li>
                                <li><a href="about-01.html">sub catagory 4</a></li>
                                <li><a href="about-01.html">sub catagory 5</a></li>
                                <li><a href="about-01.html">sub catagory 6</a></li>
                              </ul>
                            </div>
                            <div class="grid-col-3">
                              <img src="./images/objects/material.jpg" />

                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="javascript:void(0)">Accessories <i class="fa fa-angle-down fa-indicator"></i></a>
                        <!-- drop down full width -->
                        <div class="drop-down grid-col-12">
                          <!--grid row-->
                          <div class="grid-row">
                            <!--grid column 3-->
                            <div class="grid-col-3">
                              <ul>
                                <li>For Men 1</li>
                                <li><a href="about-01.html">sub catagory 1</a></li>
                                <li><a href="about-01.html">sub catagory 3</a></li>
                                <li><a href="about-01.html">sub catagory 4</a></li>
                                <li><a href="about-01.html">sub catagory 5</a></li>
                                <li><a href="about-01.html">sub catagory 6</a></li>

                              </ul>
                            </div>
                            <div class="grid-col-3">
                              <ul>
                                <li>For Women 2</li>
                                <li><a href="about-01.html">sub catagory 1</a></li>
                                <li><a href="about-01.html">sub catagory 3</a></li>
                                <li><a href="about-01.html">sub catagory 4</a></li>
                                <li><a href="about-01.html">sub catagory 5</a></li>
                                <li><a href="about-01.html">sub catagory 6</a></li>

                              </ul>
                            </div>
                            <div class="grid-col-3">
                              <ul>
                                <li>Accessory 3</li>
                                <li><a href="about-01.html">sub catagory 1</a></li>
                                <li><a href="about-01.html">sub catagory 3</a></li>
                                <li><a href="about-01.html">sub catagory 4</a></li>
                                <li><a href="about-01.html">sub catagory 5</a></li>
                                <li><a href="about-01.html">sub catagory 6</a></li>
                              </ul>
                            </div>
                            <div class="grid-col-3">
                              <img src="./images/objects/01.png" />

                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="javascript:void(0)">About Us<i class="fa fa-angle-down fa-indicator"></i></a>
                        <!-- drop down multilevel  -->
                        <ul class="drop-down-multilevel left-side">

                          <li><a href="#">Our history </a>

                          </li>
                          <li><a href="javascript:void(0)">Our team </a>


                          </li>
                          <li><a href="#">Achivments</a>

                          </li>


                      </li>
                    </ul>
                    </li>
                    <li><a href="javascript:void(0)">Contact us </i></a>

                    </li>

                    </ul>
                    <div class="search-cart">
                      <div class="search">
                        <a class="search-btn not_click" href="javascript:void(0);"></a>
                        <div class="search-box not-click">
                          <form action="search.html" method="get">
                            <input type="text" class="not-click form-control" name="search" placeholder="Search.."
                              value="">
                            <button class="search-button" type="submit"> <i class="fa fa-search not-click"></i></button>
                          </form>
                        </div>
                      </div>
                      <div class="shpping-cart">
                        <a class="cart-btn" href="#"> <i class="fa fa-shopping-cart icon"></i> <strong
                            class="item">2</strong></a>
                        <div class="cart">
                          <div class="cart-title">
                            <h6 class="uppercase mb-0">Shopping cart</h6>
                          </div>
                          <div class="cart-item">
                            <div class="cart-image">
                              <img class="img-fluid" src="images/shop/01.jpg" alt="">
                            </div>
                            <div class="cart-name clearfix">
                              <a href="#">Product name <strong>x2</strong> </a>
                              <div class="cart-price">
                                <del>$24.99</del> <ins>$12.49</ins>
                              </div>
                            </div>
                            <div class="cart-close">
                              <a href="#"> <i class="fa fa-times-circle"></i> </a>
                            </div>
                          </div>
                          <div class="cart-item">
                            <div class="cart-image">
                              <img class="img-fluid" src="images/shop/01.jpg" alt="">
                            </div>
                            <div class="cart-name clearfix">
                              <a href="#">Product name <strong>x2</strong></a>
                              <div class="cart-price">
                                <del>$24.99</del> <ins>$12.49</ins>
                              </div>
                            </div>
                            <div class="cart-close">
                              <a href="#"> <i class="fa fa-times-circle"></i> </a>
                            </div>
                          </div>
                          <div class="cart-total">
                            <h6 class="mb-15"> Total: $104.00</h6>
                            <a class="button" href="shop-shopping-cart.html">View Cart</a>
                            <a class="button black" href="shop-checkout.html">Checkout</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </nav>
        <!-- menu end -->
      </div>
    </header>

    <!--=================================
 header -->

    <!--=================================
 banner -->