<%include partials/header%>

<section class="rev-slider">
  <div
    id="rev_slider_269_1_wrapper"
    class="rev_slider_wrapper fullwidthbanner-container"
    data-alias="webster-slider-3"
    data-source="gallery"
    style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;"
  >
    <!-- START REVOLUTION SLIDER 5.4.6.3 fullwidth mode -->
    <div
      id="rev_slider_269_1"
      class="rev_slider fullwidthabanner"
      style="display:none;"
      data-version="5.4.6.3"
    >
      <ul>
        <!-- SLIDE  -->
        <li
          data-index="rs-759"
          data-transition="fade"
          data-slotamount="default"
          data-hideafterloop="0"
          data-hideslideonmobile="off"
          data-easein="default"
          data-easeout="default"
          data-masterspeed="300"
          data-rotate="0"
          data-saveperformance="off"
          data-title="Slide"
          data-param1=""
          data-param2=""
          data-param3=""
          data-param4=""
          data-param5=""
          data-param6=""
          data-param7=""
          data-param8=""
          data-param9=""
          data-param10=""
          data-description=""
        >
          <!-- MAIN IMAGE -->
          <img
            src="revolution/assets/slider-03/b894c-Bg.jpg"
            alt=""
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
            data-bgparallax="off"
            class="rev-slidebg"
            data-no-retina
          />
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-3"
            id="slide-759-layer-22"
            data-x="-248"
            data-y="505"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 5;"
          >
            <img
              src="revolution/assets/slider-03/73382-15.png"
              alt=""
              data-ww="auto"
              data-hh="auto"
              data-no-retina
            />
          </div>

          <!-- LAYER NR. 2 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-759-layer-23"
            data-x="right"
            data-hoffset="-180"
            data-y="-170"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 6;"
          >
            <img
              src="revolution/assets/slider-03/8f4ba-14.png"
              alt=""
              data-ww="auto"
              data-hh="auto"
              data-no-retina
            />
          </div>

          <!-- LAYER NR. 3 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-2"
            id="slide-759-layer-24"
            data-x="right"
            data-hoffset="-200"
            data-y="center"
            data-voffset="85"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 7;"
          >
            <img
              src="revolution/assets/slider-03/a5c1a-16.png"
              alt=""
              data-ww="auto"
              data-hh="auto"
              data-no-retina
            />
          </div>

          <!-- LAYER NR. 4 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-759-layer-25"
            data-x="-299"
            data-y="-169"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 8;"
          >
            <img
              src="revolution/assets/slider-03/e5039-17.png"
              alt=""
              data-ww="auto"
              data-hh="auto"
              data-no-retina
            />
          </div>

          <!-- LAYER NR. 5 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-2"
            id="slide-759-layer-6"
            data-x="160"
            data-y="bottom"
            data-voffset="370"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 9;"
          >
            <div
              class="rs-looped rs-slideloop"
              data-easing=""
              data-speed="3"
              data-xs="0"
              data-xe="10"
              data-ys="0"
              data-ye="10"
            >
              <img
                src="revolution/assets/slider-03/756d0-9.png"
                alt=""
                data-ww="auto"
                data-hh="auto"
                data-no-retina
              />
            </div>
          </div>

          <!-- LAYER NR. 6 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-2"
            id="slide-759-layer-7"
            data-x="right"
            data-hoffset="540"
            data-y="bottom"
            data-voffset="135"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 10;"
          >
            <img
              src="revolution/assets/slider-03/ab657-13.png"
              alt=""
              data-ww="auto"
              data-hh="auto"
              data-no-retina
            />
          </div>

          <!-- LAYER NR. 7 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-759-layer-8"
            data-x="center"
            data-hoffset="10"
            data-y="center"
            data-voffset=""
            data-width="['auto']"
            data-height="['auto']"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 11; white-space: nowrap; font-size: 330px; line-height: 242px; font-weight: 600; color: #ffffff; letter-spacing: 20px;font-family:Dosis;"
          >
            Webster
          </div>

          <!-- LAYER NR. 8 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-2"
            id="slide-759-layer-9"
            data-x="center"
            data-hoffset="-200"
            data-y="center"
            data-voffset="-48"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 12;"
          >
            <img
              src="revolution/assets/slider-03/ce4ef-12.png"
              alt=""
              data-ww="auto"
              data-hh="auto"
              data-no-retina
            />
          </div>

          <!-- LAYER NR. 9 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-2"
            id="slide-759-layer-10"
            data-x="center"
            data-hoffset="-75"
            data-y="center"
            data-voffset="58"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 13;"
          >
            <img
              src="revolution/assets/slider-03/7f737-11.png"
              alt=""
              data-ww="auto"
              data-hh="auto"
              data-no-retina
            />
          </div>

          <!-- LAYER NR. 10 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-759-layer-11"
            data-x="center"
            data-hoffset="-320"
            data-y="235"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 14;"
          >
            <div
              class="rs-looped rs-slideloop"
              data-easing=""
              data-speed="3"
              data-xs="0"
              data-xe="10"
              data-ys="0"
              data-ye="10"
            >
              <img
                src="revolution/assets/slider-03/db7df-10.png"
                alt=""
                data-ww="auto"
                data-hh="auto"
                data-no-retina
              />
            </div>
          </div>

          <!-- LAYER NR. 11 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-759-layer-12"
            data-x="190"
            data-y="bottom"
            data-voffset="155"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 15;"
          >
            <div
              class="rs-looped rs-slideloop"
              data-easing="Bounce.easeIn"
              data-speed="5"
              data-xs="0"
              data-xe="10"
              data-ys="0"
              data-ye="10"
            >
              <img
                src="revolution/assets/slider-03/7c087-6.png"
                alt=""
                data-ww="auto"
                data-hh="auto"
                data-no-retina
              />
            </div>
          </div>

          <!-- LAYER NR. 12 -->
          <div
            class="tp-caption   tp-resizeme"
            id="slide-759-layer-13"
            data-x="center"
            data-hoffset="-60"
            data-y="bottom"
            data-voffset="60"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 16;"
          >
            <img
              src="revolution/assets/slider-03/5536f-Shadow.png"
              alt=""
              data-ww="auto"
              data-hh="auto"
              data-no-retina
            />
          </div>

          <!-- LAYER NR. 13 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-759-layer-14"
            data-x="center"
            data-hoffset="400"
            data-y="180"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 17;"
          >
            <div
              class="rs-looped rs-slideloop"
              data-easing=""
              data-speed="3"
              data-xs="0"
              data-xe="10"
              data-ys="0"
              data-ye="10"
            >
              <img
                src="revolution/assets/slider-03/85cc7-5.png"
                alt=""
                data-ww="auto"
                data-hh="auto"
                data-no-retina
              />
            </div>
          </div>

          <!-- LAYER NR. 14 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-3"
            id="slide-759-layer-15"
            data-x="right"
            data-hoffset="290"
            data-y="140"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 18;"
          >
            <div
              class="rs-looped rs-slideloop"
              data-easing="Bounce.easeInOut"
              data-speed="4"
              data-xs="0"
              data-xe="10"
              data-ys="0"
              data-ye="10"
            >
              <img
                src="revolution/assets/slider-03/2a3ef-4.png"
                alt=""
                data-ww="auto"
                data-hh="auto"
                data-no-retina
              />
            </div>
          </div>

          <!-- LAYER NR. 15 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-2"
            id="slide-759-layer-16"
            data-x="right"
            data-hoffset="500"
            data-y="bottom"
            data-voffset="50"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 19;"
          >
            <div
              class="rs-looped rs-slideloop"
              data-easing=""
              data-speed="3"
              data-xs="0"
              data-xe="10"
              data-ys="0"
              data-ye="10"
            >
              <img
                src="revolution/assets/slider-03/2f5f7-7.png"
                alt=""
                data-ww="auto"
                data-hh="auto"
                data-no-retina
              />
            </div>
          </div>

          <!-- LAYER NR. 16 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-1"
            id="slide-759-layer-17"
            data-x="right"
            data-hoffset="400"
            data-y="bottom"
            data-voffset="30"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 20;"
          >
            <div
              class="rs-looped rs-slideloop"
              data-easing="Linear.easeNone"
              data-speed="2"
              data-xs="0"
              data-xe="10"
              data-ys="0"
              data-ye="10"
            >
              <img
                src="revolution/assets/slider-03/ea23f-8.png"
                alt=""
                data-ww="auto"
                data-hh="auto"
                data-no-retina
              />
            </div>
          </div>

          <!-- LAYER NR. 17 -->
          <div
            class="tp-caption   tp-resizeme"
            id="slide-759-layer-18"
            data-x="center"
            data-hoffset="410"
            data-y="center"
            data-voffset="170"
            data-width="['auto']"
            data-height="['auto']"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"delay":370,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 21; white-space: nowrap; font-size: 40px; line-height: 44px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;"
          >
            HTML5 Template
          </div>

          <!-- LAYER NR. 18 -->
          <a
            class="tp-caption rev-btn  tp-resizeme"
            href="#"
            target="_self"
            id="slide-759-layer-20"
            data-x="center"
            data-hoffset="490"
            data-y="bottom"
            data-voffset="199"
            data-width="['auto']"
            data-height="['auto']"
            data-type="button"
            data-actions=""
            data-responsive_offset="on"
            data-frames='[{"delay":840,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"600","ease":"Power0.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[35,35,35,35]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[35,35,35,35]"
            style="z-index: 22; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: rgba(255,255,255,1); font-family:Montserrat;text-transform:uppercase;background-color:rgb(0,0,0);border-color:rgba(0,0,0,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"
            >Start with us
          </a>

          <!-- LAYER NR. 19 -->
          <div
            class="tp-caption   tp-resizeme rs-parallaxlevel-2"
            id="slide-759-layer-26"
            data-x="right"
            data-hoffset="1475"
            data-y="bottom"
            data-voffset="640"
            data-width="['none','none','none','none']"
            data-height="['none','none','none','none']"
            data-type="image"
            data-responsive_offset="on"
            data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-textAlign="['inherit','inherit','inherit','inherit']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 23;"
          >
            <div
              class="rs-looped rs-slideloop"
              data-easing=""
              data-speed="3"
              data-xs="0"
              data-xe="10"
              data-ys="0"
              data-ye="10"
            >
              <img
                src="revolution/assets/slider-03/2f5f7-7.png"
                alt=""
                data-ww="auto"
                data-hh="auto"
                data-no-retina
              />
            </div>
          </div>
        </li>
      </ul>
      <div
        class="tp-bannertimer tp-bottom"
        style="visibility: hidden !important;"
      ></div>
    </div>
  </div>
</section>

<!--=================================
 banner -->

<!--=================================
 special-feature -->

<section
  class="page-section-pt agency-about parallax"
  data-jarallax='{"speed": 0.6}'
  style="background-image: url(images/bg/04.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <div class="section-title mb-20">
          <h6>What we do?</h6>
          <h2>We do things differently</h2>
          <p>
            We are dedicated to providing you with the best lether products
            possible.
          </p>
        </div>
        <p>
          <span class="dropcap square">S</span>tarting from the preparatory
          stage, through Surface coating, we use highly articulated methods with
          highly crafted machineries to provide you the best of quality. feel
          free to browse our services, the lether production approaches we use
          and much more.
        </p>
        <a href="#" class="button mt-20">
          Learn more
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-md-offset-1 sm-mt-50">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xx-12 mb-30">
            <div class="feature-text left-icon mb-30">
              <div class="feature-icon">
                <span class="ti-html5 theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 class="text-back pt-10">Uniforms</h5>
              </div>
            </div>
            <ul class="list list-hand mt-20">
              <li>Logos</li>
              <li>Corporate Identity</li>
              <li>Business Cards</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xx-12 mb-30">
            <div class="feature-text left-icon mb-30">
              <div class="feature-icon">
                <span class="ti-desktop theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 class="text-back pt-10">Foot Ware</h5>
              </div>
            </div>
            <ul class="list list-hand mt-20">
              <li>UX App Design</li>
              <li>Corporate Identity</li>
              <li>Packaging</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xx-12 xx-mb-30">
            <div class="feature-text left-icon mb-30">
              <div class="feature-icon">
                <span class="ti-server theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 class="text-back pt-10">Accessories</h5>
              </div>
            </div>
            <ul class="list list-hand mt-20">
              <li>Bagages</li>
              <li>WordPress</li>
              <li>eCommerce</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-xx-12">
            <div class="feature-text left-icon mb-30">
              <div class="feature-icon">
                <span class="ti-panel theme-color" aria-hidden="true"></span>
              </div>
              <div class="feature-info">
                <h5 class="text-back pt-10">Custom brand</h5>
              </div>
            </div>
            <ul class="list list-hand mt-20">
              <li>Strategy</li>
              <li>Sales</li>
              <li>Email Campaigns</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</section>

<!--=================================
 banner -->

<!--=================================
 special-feature -->

<section class="page-section-ptb position-relative">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="section-title">
          <h2 class="title-effect">Our Offers</h2>
          <p>
            Our high quality product has made many clients happy, check out our
            catagory and chosse the one that best suit your preference
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 xs-mb-40">
        <div class="feature-box h-100">
          <div class="feature-box-content">
            <i class="fa fa-paint-brush blue"></i>
            <h4>Raw materials</h4>
            <p>
              It's always nice to get starrted fresh: wether you are a new or an
              existing business, if you value quality product and want to take
              your business to a new level, contact us
            </p>
          </div>
          <a href="#">Read more</a>
          <div
            class="feature-box-img"
            style="background-image: url('images/about/01.jpg');"
          ></div>
          <span class="feature-border"></span>
        </div>
      </div>
      <div class="col-md-4 xs-mb-40">
        <div class="feature-box h-100 active">
          <div class="feature-box-content">
            <i class="fa fa-arrows"></i>
            <h4>Single Products</h4>
            <p>
              Wanna get your grooves on using Ethiopian lether? You are more
              than welcome to check out our store
            </p>
          </div>
          <a href="#">Read more</a>
          <div
            class="feature-box-img"
            style="background-image: url('images/about/02.jpg');"
          ></div>
          <span class="feature-border"></span>
        </div>
      </div>
      <div class="col-md-4 xs-mb-40">
        <div class="feature-box h-100">
          <div class="feature-box-content">
            <i class="fa fa-heart"></i>
            <h4>Whole Sale</h4>
            <p>
              You name the amount, we will produce it. Get our whole products
              with out limitation and put a smile on your cleints face
            </p>
          </div>
          <a href="#">Read more</a>
          <div
            class="feature-box-img"
            style="background-image: url('images/about/03.jpg');"
          ></div>
          <span class="feature-border"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
 feature step -->

<!--=================================
 portfolio -->

<section class="portfolio o-hidden">
  <div class="page-section-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2 class="title-effect">Our-Popular-Products</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="isotope-filters">
      <button data-filter="" class="active">All</button>
      <button data-filter=".photography">photography</button>
      <button data-filter=".illustration">illustration</button>
      <button data-filter=".branding">branding</button>
      <button data-filter=".web-design">web-design</button>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="isotope popup-gallery columns-4 no-padding">
      <div class="grid-item photography illustration">
        <div class="portfolio-item">
          <img src="images/portfolio/small/01.jpg" alt="" />
          <div class="portfolio-overlay">
            <h4 class="text-white">
              <a href="portfolio-single-01.html"> Post vimeo video </a>
            </h4>
            <span class="text-white">
              <a href="#"> Photography </a>| <a href="#">Illustration </a>
            </span>
          </div>
          <a
            class="popup popup-youtube"
            href="https://www.youtube.com/watch?v=LgvseYYhqU0"
            ><i class="fa fa-play"></i
          ></a>
        </div>
      </div>
      <div class="grid-item photography branding">
        <div class="portfolio-item">
          <img src="images/portfolio/small/02.jpg" alt="" />
          <div class="portfolio-overlay">
            <h4 class="text-white">
              <a href="portfolio-single-01.html"> Your title here </a>
            </h4>
            <span class="text-white">
              <a href="#"> Photography </a>| <a href="#">Branding </a>
            </span>
          </div>
          <a class="popup portfolio-img" href="images/portfolio/small/02.jpg"
            ><i class="fa fa-arrows-alt"></i
          ></a>
        </div>
      </div>
      <div class="grid-item illustration branding">
        <div class="portfolio-item">
          <img src="images/portfolio/small/03.jpg" alt="" />
          <div class="portfolio-overlay">
            <h4 class="text-white">
              <a href="portfolio-single-01.html"> Your title here </a>
            </h4>
            <span class="text-white">
              <a href="#"> Illustration </a> |<a href="#"> Branding </a>
            </span>
          </div>
          <a class="popup portfolio-img" href="images/portfolio/small/03.jpg"
            ><i class="fa fa-arrows-alt"></i
          ></a>
        </div>
      </div>
      <div class="grid-item web-design">
        <div class="portfolio-item">
          <img src="images/portfolio/small/04.gif" alt="" />
          <div class="portfolio-overlay">
            <h4 class="text-white">
              <a href="portfolio-single-01.html"> Your title here </a>
            </h4>
            <span class="text-white">
              <a href="#"> Branding </a> | <a href="#"> Web Design </a>
            </span>
          </div>
          <a class="popup portfolio-img" href="images/portfolio/small/04.gif"
            ><i class="fa fa-arrows-alt"></i
          ></a>
        </div>
      </div>
      <div class="grid-item photography illustration">
        <div class="portfolio-item">
          <img src="images/portfolio/small/05.jpg" alt="" />
          <div class="portfolio-overlay">
            <h4 class="text-white">
              <a href="portfolio-single-01.html"> Your title here </a>
            </h4>
            <span class="text-white">
              <a href="#"> Photography </a>| <a href="#">Illustration </a>
            </span>
          </div>
          <a class="popup portfolio-img" href="images/portfolio/small/05.jpg"
            ><i class="fa fa-arrows-alt"></i
          ></a>
        </div>
      </div>
      <div class="grid-item photography web-design">
        <div class="portfolio-item">
          <img src="images/portfolio/small/08.gif" alt="" />
          <div class="portfolio-overlay">
            <h4 class="text-white">
              <a href="portfolio-single-01.html"> Your title here </a>
            </h4>
            <span class="text-white">
              <a href="#"> Web Design </a> | <a href="#">Illustration </a>
            </span>
          </div>
          <a class="popup portfolio-img" href="images/portfolio/small/08.gif"
            ><i class="fa fa-arrows-alt"></i
          ></a>
        </div>
      </div>
      <div class="grid-item web-design">
        <div class="portfolio-item">
          <img src="images/portfolio/small/07.jpg" alt="" />
          <div class="portfolio-overlay">
            <h4 class="text-white">
              <a href="portfolio-single-01.html"> Your title here </a>
            </h4>
            <span class="text-white">
              <a href="#"> Branding </a> | <a href="#"> Web Design </a>
            </span>
          </div>
          <a class="popup portfolio-img" href="images/portfolio/small/07.jpg"
            ><i class="fa fa-arrows-alt"></i
          ></a>
        </div>
      </div>
      <div class="grid-item photography illustration">
        <div class="portfolio-item">
          <img src="images/portfolio/small/06.jpg" alt="" />
          <div class="portfolio-overlay">
            <h4 class="text-white">
              <a href="portfolio-single-01.html"> Post vimeo video </a>
            </h4>
            <span class="text-white">
              <a href="#"> Photography </a>| <a href="#">Illustration </a>
            </span>
          </div>
          <a
            class="popup popup-youtube"
            href="https://www.youtube.com/watch?v=LgvseYYhqU0"
            ><i class="fa fa-play"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
    portfolio -->

<!--=================================
action box- -->

<section class="action-box theme-bg full-width" style="padding: 80px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="action-box-text">
          <h3>
            <strong> Webster: </strong> The most powerful template ever on the
            market
          </h3>
          <p>
            Create tailor-cut websites with the exclusive multi-purpose
            responsive template along with powerful features.
          </p>
        </div>
        <div class="action-box-button">
          <a class="button button-border white" href="#">
            <span>Purchase Now</span>
            <i class="fa fa-download"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
action box- -->
<!--=================================
work-process -->
<section class="portfolio o-hidden">
  <div class="page-section-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h2 class="title-effect">This is how we do it</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="split-section black-bg page-section-ptb">
  <div class="side-background">
    <div class="col-lg-6 img-side img-left">
      <div
        class="img-holder img-cover"
        data-jarallax='{"speed": 0.6}'
        style="background-image: url(images/bg/09.jpg);"
      ></div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-5">
        <div class="section-title">
          <h6 class="text-white">Work Process</h6>
          <h2 class="text-white title-effect">Our Unique Process</h2>
          <p class="text-white">
            Take a look at the steps that each of our products undergo yo
            probide the best quality
          </p>
        </div>
        <div class="tab">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#research-07" data-toggle="tab"
                >Preparatory</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#design-07" data-toggle="tab"
                >Crusting</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#develop-07" data-toggle="tab"
                >Surface coating</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="research-07">
              <p class="text-white">
                During the preparatory stages many of the unwanted raw skin
                components are removed. Many options for pretreatment of the
                skin exist. Not all of the options may be performed. Preparatory
                stages may include.
              </p>
            </div>
            <div class="tab-pane fade" id="design-07">
              <p class="text-white">
                Crusting is when the hide/skin is thinned, retanned and
                lubricated. Often a coloring operation is included in the
                crusting sub-process. The chemicals added during crusting have
                to be fixed in place
              </p>
            </div>
            <div class="tab-pane fade" id="develop-07">
              <p class="text-white">
                For some leathers a surface coating is applied. Tanners refer to
                this as finishing. Finishing operations include: oiling brushing
                padding impregnation
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
  work-process -->

<!--=================================
about- -->

<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="owl-carousel bottom-center-dots"
          data-nav-dots="ture"
          data-items="1"
          data-md-items="1"
          data-sm-items="1"
          data-xs-items="1"
          data-xx-items="1"
        >
          <div class="item">
            <img class="img-fluid" src="images/about/01.jpg" alt="" />
          </div>
          <div class="item">
            <img class="img-fluid" src="images/about/02.jpg" alt="" />
          </div>
          <div class="item">
            <img class="img-fluid" src="images/about/03.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 sm-mt-30">
        <div class="section-title">
          <h6>Our story</h6>
          <h2>This is the part where we tell you our story</h2>
          <p>
            Truly ideal solutions for your business. Create a website that you
            are gonna be proud of
          </p>
        </div>
        <p>
          exclusive multi-purpose 100% responsive template with
          <mark> powerful features.</mark> Simple and well-structured coding,
          high quality and flexible layout, scalable features along with color
          schemes to create tailor-cut websites.
        </p>
        <div class="mt-30">
          <a class="button icon mb-10" href="#">
            <span>Read More</span>
            <i class="fa fa-hand-o-right"></i>
          </a>
          <a class="button button-border icon" target="_blank" href="#">
            <span>Contact Us</span>
            <i class="fa fa-download"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
about- -->

<!--=================================
 Our Testimonial -->

<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title text-center">
          <h6>Have a look at our</h6>
          <h2 class="title-effect">Client Opinions & Reviews</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div
          class="owl-carousel"
          data-nav-dots="true"
          data-items="2"
          data-md-items="2"
          data-sm-items="2"
          data-xs-items="1"
          data-xx-items="1"
        >
          <div class="item">
            <div class="testimonial bottom_pos">
              <div class="testimonial-avatar">
                <img alt="" src="images/team/01.jpg" />
              </div>
              <div class="testimonial-info">
                Excellent Customer support! These guys reply within minutes
                sometimes and really help you with when you need them. The
                template itself is very extended as well. Happy with my
                purchase!
              </div>
              <div class="author-info">
                <strong>15Twelve - <span>ThemeForest user</span></strong>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial bottom_pos">
              <div class="testimonial-avatar">
                <img alt="" src="images/team/02.jpg" />
              </div>
              <div class="testimonial-info">
                One of the most complete template here. Thanks a lot for such
                great features, pages, shortcodes and home variations.
                Incredible Job. And the best of all, great introductions
              </div>
              <div class="author-info">
                <strong>Xerracol - <span>ThemeForest user</span></strong>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial bottom_pos">
              <div class="testimonial-avatar">
                <img alt="" src="images/team/03.jpg" />
              </div>
              <div class="testimonial-info">
                This is a well put together template and the developer offers
                great support. I've been in contact with them and the response
                was prompt and everything has been taken care of.
              </div>
              <div class="author-info">
                <strong>Warble - <span>ThemeForest user</span></strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
   Our Testimonial -->

<!--=================================
  Our Clients  -->

<section class="our-clients theme-bg text-white page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div
          class="owl-carousel"
          data-items="5"
          data-sm-items="4"
          data-xs-items="3"
          data-xx-items="2"
        >
          <div class="item">
            <img
              class="mx-auto img-fluid"
              src="images/clients/light/06.png"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="mx-auto img-fluid"
              src="images/clients/light/07.png"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="mx-auto img-fluid"
              src="images/clients/light/08.png"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="mx-auto img-fluid"
              src="images/clients/light/09.png"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="mx-auto img-fluid"
              src="images/clients/light/10.png"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="mx-auto img-fluid"
              src="images/clients/light/06.png"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="mx-auto img-fluid"
              src="images/clients/light/08.png"
              alt=""
            />
          </div>
          <div class="item">
            <img
              class="mx-auto img-fluid"
              src="images/clients/light/09.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
   Our Clients -->

<%include partials/footer%>
